@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #F23124;
  --secondary-color: #F37500;
  --bg-color: #1B1B1B;
  --light-color: #E6E6E6; 
}

body {
  background-color: var(--bg-color);
}

@layer components {
  .btn {

  }
  .logo {
    @apply flex justify-center items-center;
    color: var(--light-color);
  }
  .navbar {
    @apply flex justify-between px-1 py-2;
    background-color: var(--primary-color);
  }
  .card {

  }
  .card-body{

  } 
}
